---
import Image from './Image.astro'
const { artwork, meta, releaseDate, type, numberOfTracks } = Astro.props;

---

<div class="release">
  <Image
    image={artwork}
    sizes="(max-width: 800px) calc(100vw - 2rem), 255px"
  />
  <div>
    <p>{type} &middot; {(new Date(releaseDate)).getFullYear()} &middot; {numberOfTracks} Songs</p>
    <h3>{meta.title}</h3>
  </div>
</div>

<style lang="scss">
  .release {
    display: flex;
    gap: var(--space-s)
  }
</style>
