@use 'variables';

:root {
  @each $name, $value in variables.$colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in variables.$spaces {
    --space-#{$name}: #{$value};
  }

  @each $name, $value in variables.$steps {
    --step-#{$name}: #{$value};
  }

  --color-background: var(--color-dark-primary);
  --color-text: var(--color-light-primary);
  --color-text-inverted: var(--color-dark-primary);

  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@keyframes emphasis {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1);
  }
}

.emphasis {
  animation-name: emphasis;
  animation-duration: 0.400s;
  animation-timing-function: ease;
}

main {
  margin-block-start: var(--space-s);
}

body.has-backlink {
  margin-bottom: 5em;
}

button svg {
  pointer-events: none;
}
