@use 'variables';

:root {
  @each $name, $value in variables.$colors {
    --color-#{$name}: #{$value};
  }

  @each $name, $value in variables.$spaces {
    --space-#{$name}: #{$value};
  }

  @each $name, $value in variables.$steps {
    --step-#{$name}: #{$value};
  }

  --color-background: var(--color-dark-primary);
  --color-text: var(--color-light-primary);
  --color-text-inverted: var(--color-dark-primary);

  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
