---
import { removeMultiSlash } from "../lib/utils";
import Picture from "./Picture.astro";
const {
  meta,
  images
} = Astro.props;

---

<ul class="grid grid--3-columns grid--gap-m center hover-list">
  {images.map(item => (
    <li class="hover-list__target">
      <a
        href={
          removeMultiSlash(
            meta.slug.current+'/'+item.image.asset.assetId,
            {
              keepTrailing: true
            })
        }
        id={item.image.asset.assetId}
            >
        <Picture
          aspectDesktop="1:1"
          aspectMobile="1:1"
          image={item.image}
        ></Picture>
      </a>
    </li>
  ))}
</ul>
